# Fichiers spécifiques à Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.swp
*.swo

# Environnement virtuel Python (par exemple, créé avec virtualenv ou venv)
venv/
env/

# Fichiers spécifiques à Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build spécifiques à Node.js
/.pnp/
.pnp.js

# Cache de Yarn
.yarn/*
!.yarn/cache/
!.yarn/plugins/
!.yarn/releases/
!.yarn/versions/
